# npm 配置文件 - 使用国内镜像加速下载

# 使用淘宝 npm 镜像
registry=https://registry.npmmirror.com

# Electron 镜像（重要！）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# Chromium 镜像
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/

# Node Sass 镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass/

# 其他加速
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver/

